@page
@{
	ViewData["Title"] = "Area Adminitrativa";
	Layout = "_Template";

}

	<main class="container mt-3">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center mt-3">
			<h1 @ViewData["Titulo"]</h1>
				<p>
					Está é a área administrativa do TheClub. Use os botões acima para navegar.
				</p>
			</div>
		</div>
		</main>